@model MovieFilterServiceModel

<h3>Filter</h3>

<form asp-controller="Movie" asp-action="Index" method="post">
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label asp-for="MovieName"></label>
                <input asp-for="MovieName" class="form-control" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="Year"></label>
                <input asp-for="Year" class="form-control" />
            </div>
        </div>
    </div>
    @for (int i = 0; i < Model.Genres.Count; i++)
    {
        <div class="form-check form-check-inline">
            <input asp-for="@Model.Genres[i].IsSelected" class="form-check-input" type="checkbox">
            <label class="form-check-label">@Model.Genres[i].Name</label>
            <input type="hidden" asp-for="@Model.Genres[i].Id" value="@Model.Genres[i].Id" class="form-control" />
        </div>
    }
    <br /><br />
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-info btn-lg btn-block">Search</button>
        </div>
    </div>
</form>