@model GenreViewModel;

@{
    ViewData["Title"] = "Delete genre";
}

<h4>Are you sure you want to delete genre "@Model.Name" ?</h4>
<hr />

<form asp-controller="Genre" asp-action="Delete" method="post">
    <input asp-for="Name" hidden="hidden"/>
    <span asp-validation-for="Name"></span>
    <div>
        <input class="btn btn-sm btn-danger" type="submit" value="Yes, delete !" />
    </div>
</form>